.leaderboard-container{text-align: center;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding:42px;
  background-color: #f3f4f6;
   border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-back{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #0077cc;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
}

.btn-back:hover {
  background-color: #0d34d1;
}