/* Login.css */
.login-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 251px;
  padding:42px;
  background-color: #f3f4f6;
   border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-instruction{
  background-color: #19d5bc;
  color: blue;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}

.login-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #1f2937;
}

.login-form {
  display: flex;
  flex-direction: column;

}

.login-input {
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.login-button {
  padding: 0.75rem;
  background-color:  #1d4ed8;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0c1e58;
}

.login-error{
  color:#1f2021;
}

.login-message{
  color:#090e37;
}